RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Quitar la extensión .php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php

    RewriteRule ^category/([a-zA-Z0-9-]+) category.php?nombre=$1
    RewriteRule ^productos/([a-zA-Z0-9-]+) productos.php?title=$1

    ErrorDocument 404 http://localhost/prueba/404.php